<h1 id="settingupcustomvpcredhatinstanceonaws">Setting up custom VPC+Red Hat Instance on AWS</h1>

<p><strong>GENERAL:</strong> <br />
NOTE: current = created on 2019-05-13</p>

<p>-axxius public IP <br />
87.213.27.202/32 <br />
-current vpc ID splunk <br />
vpc-09a36c9b3b19269c6 <br />
-current subnet ID <br />
subnet-01b2eb90a97ee012a <br />
-current Internet gateway ID <br />
igw-057c664bee354d485 <br />
-current Route Table ID: <br />
rtb-0509fa4057e1e576d <br />
-current Security Group ID <br />
sg-05f173e5d7830b82c <br />
-current Elastic IP <br />
52.28.198.208 <br />
-custom private IP <br />
1.1.1.85 <br />
-browser_interface_elastic_IP: <br />
<a href="http://52.28.198.208:8000/">http://52.28.198.208:8000/</a>  </p>

<p><strong>SUMMARY STEPS:</strong> <br />
1 Create custom VPC: <br />
2 Create custom subnet: <br />
3 Make + attach internet gateway: <br />
4 Make custom route table + add new route: <br />
5 Create red hat instance <br />
6 Make security group + add two rules: <br />
7 Make + associate Elastic IP to instance <br />
8 test SSH connection <br />
9 Install splunk</p>

<p>****</p>

<p><strong>DETAILED STEPS:</strong> <br />
1    <em>Create custom VPC<strong>:</strong></em> <br />
 <strong>-</strong> naming convention: AWS_"zone_city_name"_"software_name" &gt;&gt; e.g. AWS_frankfurt_SPLUNK <br />
VPC settings conventions: <br />
-CIDR block: 1.1.1.0/24 <br />
-no IPv6 <br />
-tenancy default <br />
__</p>

<p><em>2    Create custom subnet:</em>  </p>

<ul>
<li>naming convention AWS_"zone_city_name"_ "software_name"_subnet1 <br />
subnet IP convention: allocate half of available IP's <br />
NOTE: for each subnet amazon takes 5 IP's automatically, 4 starting from the lower end of the range, 1 at complete end of range (network broadcast address) so total number available = 128-5 = 123 <br />
-1.1.1.0/25 <br />
__</li>
</ul>

<p>3    <em>Make + attach internet gateway:</em>  </p>

<ul>
<li>naming convention AWS_"zone_city_name"_ "software_name"_internet_gateway  </li>
</ul>

<p>4    <em>Make custom route table + add new route:</em> <br />
destination 0.0.0.0./0 <br />
target: Internet gateway  </p>

<p>6    <em>Create red hat instance</em> <br />
-choose custom vpc <br />
-choose default options <br />
-change security group to own IP <br />
-create new key pair <br />
-in puttygen: convert file format from pem to ppk <br />
<em><strong>-NOTE! store keys in known location locally: if these are lost instance might not be retrieved, or become vunerable</strong></em> <br />
-after launching change the name of the instance <br />
AWS_frankfurt_SPLUNK_redhat</p>

<p>---&gt; associate the custom routing table with the subnet!  </p>

<p>5    <em>Make security group + add two rules: <br />
INBOUND:</em> <br />
--&gt; allow axxius IP for port 22 protocol TCP <br />
--&gt; allow axxius IP for port 8000 protocol TCP <br />
in the instance dashboard menu change security groups to the custom group just made and <br />
delete default launch wizzard group  </p>

<p>7    Make + associate Elastic IP to instance <br />
<em>tbd...</em>  </p>

<p>8    test SSH connection <br />
from putty: associate the private key <br />
<em>tbd...</em>  </p>

<p>9    Install splunk <br />
wget etc, see next subheading <br />
<em>tbd...</em>  </p>

<p>__</p>

<p>__</p>

<p>__</p>

<p>__</p>

<p>__</p>

<p>__</p>

<p>__</p>

<p>__</p>

<p>__</p>

<p>__</p>

<p>__</p>